<?xml version="1.0"?>
<model>
  <name>OAK-1W Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <model>
    <pose>0 0 0 0 0 0</pose>
    <link name="link">
      <visual name="visual">
        <geometry>
          <mesh><uri>model://oak1w/meshes/OAK-1W.stl</uri></mesh>
        </geometry>
      </visual>
    </link>
  </model>
</model>
